.table-cell {
    -fx-font: 12px "monospace";
}

.table-row-cell:selected .table-cell, .list-cell:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
    -fx-opacity: 1;
}